<%= stylesheet_link_tag "pages", media: "all", "data-turbolinks-track" => true %>

<div class="jumbotron">
  <h1 style="color:white;">Time to <span style="color:#3ec303;" class="foos-brand">foos</span></h1>
  <%= link_to "Start a Game", new_game_path, class: "btn btn-large btn-primary" %>
</div>

<div class="container">
  <div class="div-foos-title">
    <center>
      <h1 class="foos">Statistics</h1>
      <div class="break"></div>
    </center>
  </div>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Player</th>
        <th>Goals Scored</th>
        <th>GPG</th>
        <th>GPS</th>
        <th>Record</th>
        <th>Win %</th>
        <th>+/-</th>
      </tr>
    </thead>
    <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.firstname.humanize %></td>
        <td><%= player.total_goals %></td>
        <td><%= number_with_precision(player.goals_per_game, precision: 2) %></td>
        <td><%= number_with_precision(player.goals_per_stick, precision: 2) %></td>
        <td><%= player.player_wins %> - <%= player.player_losses %></td>
        <td><%= player.win_percentage.to_i %></td>
        <td><%= player.plus_minus %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

