
<% if selected_players.size > 0 %>
  <% selected_players.each do |player| %>
  	<div class="form-group">
    	<%= radio_button_tag "remove_player_id", player.id %>
    	<%= player.firstname.humanize %>,<%= player.lastname.humanize %>
    	<%= hidden_field_tag "selected_players_id[]", player.id %>
    </div>
  <% end %>
<% end %>

<%= render partial: "player_dropdown", locals: {available_players: available_players } %>
<div class="form-group">
	<%= submit_tag 'Add Player', class: "btn btn-large btn-default" %>
	<% if selected_players.size > 0 %>
		<%= submit_tag 'Remove Player', class: "btn btn-large btn-default" %>
	<% end %>
</div>
