<% red_position = @redteam.positions.where(position_type: position_type).first %>
<% blue_position = @blueteam.positions.where(position_type: position_type).first %> 

<tr style="text-align:center;">
  <td class="pull-right"><span style="margin:.25em;"><%= red_position.player.firstname.humanize %></span></td>
  <td>
      <%= form_for [@game, @redteam, red_position], url: score_game_team_position_path(@game, @redteam, red_position), html:{method: "post"} do |f|%>
        <%= hidden_field_tag :quantity, "1" %>
        <%= f.button("Goal", :class => 'btn btn-primary', :type => :button, :onclick => 'game.score_goal(this)', :disabled => @game.is_finished ) %>
      <% end %>
  </td>
  <td><label><%= position.humanize %></label></td>
  <td>
      <%= form_for [@game, @blueteam, blue_position], url: score_game_team_position_path(@game, @blueteam, blue_position), html:{method: "post"} do |f|%>
        <%= hidden_field_tag :quantity, "1" %>
        <%= f.button("Goal", :class => 'btn btn-primary', :type => :button, :onclick => 'game.score_goal(this)', :disabled => @game.is_finished) %>
      <% end %>
  </td>
  <td class="pull-left"><span style="margin:.25em;"><%= blue_position.player.firstname.humanize %></span></td>
</tr>