<div class="position-row">
  <div class="column">
    <% if red_position.goals.own_goal.count > 0 then %>
      <span class="badge alert-danger"><%= red_position.goals.own_goal.count %></span>
    <% end %>
    <% if red_position.goals.scored_goal.count > 0 then %>
      <span class="badge alert-success"><%= red_position.goals.scored_goal.count %></span>
    <% end %>
  </div>
  <div class="left column">
    <%= button_to "Goal", score_position_path( red_position ), class: "btn btn-default bold", style: "font-weight:bold;"%>
  </div>
  <div class="center column"><strong><%= position %></strong></div>
  <div class="right column">
    <%= button_to "Goal", score_position_path( blue_position ), class: "btn btn-default bold", style: "font-weight:bold;"%>
  </div>
  <div class="column">
    <% if blue_position.goals.own_goal.count > 0 then %>
      <span class="badge alert-danger"><%= blue_position.goals.own_goal.count %></span>
    <% end %>
    <% if blue_position.goals.scored_goal.count > 0 then %>
      <span class="badge alert-success"><%= blue_position.goals.scored_goal.count %></span>
    <% end %>
  </div>
</div>