<tr class="position-row">
  <td>
    <% if red_position.goals.count > 0 then %>
      <% red_position.goals.scored_goal.count.times do %>
        <%= fa_icon('futbol-o', class: "pull-right") %>
      <% end %>

      <% red_position.goals.own_goal.count.times do %>
        <%= fa_icon('futbol-o', style: "color:red;", class: "pull-right") %>
      <% end %>
    <% end %>
    
  </td>
  <td>
    <% if not game.completed? %>
      <%= form_tag(score_position_path( red_position ), class: "form-goal-scored") do %>
        <input type="hidden" name="quantity" value="1"/>
        <%= submit_tag 'Goal',class: "btn btn-default bold", style: "font-weight:bold;" %>
      <% end %>
    <% else %>
      <strong><%= red_position.player.username.humanize %></strong>
    <% end %>
  </td>
  <td style="font-weight:bold;"><small style="color: #777;"><%= position %></small></td>
  <td>
    <% if not game.completed? %>
      <%= form_tag(score_position_path( blue_position ), class: "form-goal-scored") do %>
        <input type="hidden" name="quantity" value="1"/>
        <%= submit_tag 'Goal',class: "btn btn-default bold", style: "font-weight:bold;" %>
      <% end %>
    <% else %>
      <strong><%= blue_position.player.username.humanize %></strong>
    <% end %>
  </td>
  <td>
    <% if blue_position.goals.count > 0 then %>
      <% blue_position.goals.scored_goal.count.times do %>
        <%= fa_icon('futbol-o', class: "pull-left") %>
      <% end %>
      
      <% blue_position.goals.own_goal.count.times do %>
        <%= fa_icon('futbol-o', style: "color:red;", class: "pull-left") %>
      <% end %>
    <% end %>
  </td>
</tr>