

<%= form_for @game, url: undo_game_path(@game), html: {method: "post"} do |f| %>
  <% f.submit("Undo Last Goal", :class => 'btn btn-default btn-sm') %>
<% end %>
</br>
<% if @game.completed_at %>
  <%= form_for @game, url:{action: "rematch"}, html:{method: "post"} do |f| %>
    <%=  f.submit("Rematch", :class => 'btn btn-default btn-sm') %>
  <% end %>
<% end %>
<br>
<% if @game.completed_at %>
  <h3><%= @game.teams.where(winner: true)[0].color.humanize %> Wins!</h3>
  Completed at:<%= @game.completed_at.to_s %><br>

<% end %>

<% @game.teams.each do |team| %>
  <div class="panel panel-default">
    <div class="panel-heading <%= team.color%>team">
      <h3 class="panel-title"> Team <%= team.color.humanize %>:<%= team.get_goals_total %></h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Position</th>
              <th></th>
              <th></th>
              <th>Player</th>
              <th>Goals Scored</th>
              <th>Own Goals</th>
            </tr>
          </thead>
          <tbody>
          <% team.positions.each do |position| %>
            <tr>
              <td><%= position.position_type.humanize %></td> 
              <td>
                <% if not @game.is_finished %>
                  <%= form_for [@game, team, position], url: score_game_team_position_path(@game, team, position), html:{method: "post"} do |f|%>
                    <%=  f.submit("Goal Scored", :class => 'btn btn-default pull-left btn-sm') %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if not @game.is_finished %>
                  <%= form_for [@game, team, position], url: score_game_team_position_path(@game, team, position), html:{method: "post"} do |f|%>
                    <%= hidden_field_tag :quantity, "-1" %>
                    <%=  f.submit("Own Goal", :class => 'btn btn-default btn-sm') %>
                  <% end %>
                <% end %>
              </td>
              <td><%= position.player.firstname.humanize %></td>
              <td><%= position.goals.where(quantity: 1).count %></td>
              <td><%= position.goals.where(quantity: -1).count %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<h3>Goals</h3>
<table class="table table-condensed">
  <thead>
    <tr>
      <td>Goal #</td>
      <td>Player</td>
      <td>Scored At</td>
    </tr>
  </thead>
  <tbody>
    <% @game.goals.each_with_index do |goal, index| %>
      <tr>
        <td><%= (index+1) %></td>
        <td><%= goal.player.firstname.humanize %></td>
        <td><%= goal.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

