<%= stylesheet_link_tag "games", :media => "all" %>
<script>
  $(document).ready(function(){
    $(".form-goal-scored").on("submit", function(eo){
      var $form = $(eo.currentTarget);
      var $checkbox_own_goal = $("#checkbox-own-goal");

      if( $checkbox_own_goal.is(":checked") ){
        $form[0].quantity.value = $("#checkbox-own-goal").val();
      }
    });
  });
</script>
<center>
  <div class="div-foos-title"/>
    <h1 class="foos">Game View</h1>
    <div class="break"></div>
  </div>

  <% if @game.completed_at? %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong><%= @game.winning_team_color %> Won!</strong> - Completed at:<%= @game.completed_at.to_s %>
    </div>

    <% if player_signed_in? %>
      <div class="btn-group">
        <%= form_for @game, url:{action: "rematch"}, html:{method: "post"} do |f| %>
          <%= f.submit("Rematch", :class => 'btn btn-default btn-sm') %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <br>
  <br>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h5><strong>Scoreboard</strong></h5>
    </div>
    <div class="panel-body panel-overflow-x">
      <% if player_signed_in? %>
        <%= button_to "Undo Goal", undo_game_path(@game), class: "btn btn-default btn-sm", style: "margin: .5em; font-weight:bold;" %>
      <% end %>

      <table class="panel scoreboard">

        <tr class="header">
          <td class="red-team-column" colspan="2">
              <strong class="red-font">Team Red</strong>
              <span class="glyphicon glyphicon-user red-font" aria-hidden="true" style="font-size: 18px;"></span>
          </td>
          <td class="score-column">
              <strong style="font-size: 1.6em;color: rgb(51,51,51);line-height: 1.5em; white-space: nowrap;"><%= @redteam.get_goals_total %> - <%= @blueteam.get_goals_total %></strong>
          </td>
          <td class="blue-team-column" colspan="2">
              <span class="glyphicon glyphicon-user blue-font" aria-hidden="true" style="font-size: 18px;"></span>
              <strong class="blue-font">Team Blue</strong>
          </td>
        </tr><!-- end header -->
        <tr>
          <td colspan="5" style="text-align:center;">
              <label for="checkbox-own-goal"><small>Own Goal:</small></label>
              <input type="checkbox" id="checkbox-own-goal" name="quantity" value="-1"/>
          </td>
        </tr>

        <%= render :partial => 'position_row_tr', :locals => { :position => 'Striker', :red_position => @game.teams.red.first.positions.striker, :blue_position => @game.teams.blue.first.positions.striker, :game => @game } %>
        <%= render :partial => 'position_row_tr', :locals => { :position => 'Midfield', :red_position => @game.teams.red.first.positions.midfield, :blue_position => @game.teams.blue.first.positions.midfield, :game => @game } %>
        <%= render :partial => 'position_row_tr', :locals => { :position => 'Defense', :red_position => @game.teams.red.first.positions.defense, :blue_position => @game.teams.blue.first.positions.defense, :game => @game } %>
        <%= render :partial => 'position_row_tr', :locals => { :position => 'Goalie', :red_position => @game.teams.red.first.positions.goalie, :blue_position => @game.teams.blue.first.positions.goalie, :game => @game } %>
      </table>
    </div>

  </div>
   
  

  <% if @game.has_goals? then %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5><strong>Goals Scored</strong></h5>
      </div>
      <div class="panel-body panel-overflow-x">
        <span style="width:auto;">
          <table class="table table-hover table-condensed" style="width:auto;">
            <thead>
              <tr>
                <td><strong>Goal #</strong></td>
                <td><strong>Player</strong></td>
                <td><strong>Scored At</strong></td>
                <td class="blueteam"><strong>Blue</strong></td>
                <td class="redteam"><strong>Red</strong></td>
                <td><strong>Type</strong></td>
              </tr>
            </thead>
            <tbody>
              <% @game.goals_ordered.each_with_index do |goal, index| %>
                <tr>
                  <td><%= (index+1) %></td>
                  <td><%= goal.player.firstname.humanize %></td>
                  <td><%= goal.created_at %></td>
                  <td class="<%= "info" if goal.blue_goal? %>"><%= @game.teams.blue.first.get_team_score_at(goal) %></td>
                  <td class="<%= "info" if goal.red_goal?  %>"><%= @game.teams.red.first.get_team_score_at(goal) %></td>
                  <td class="<%= "danger" if goal.own_goal? %>">
                  <% if goal.own_goal? %>
                    (Own Goal)
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </span>
      </div>
    </div>
  <% end %>
</center>

