<%= link_to "Setup Game", '#' , class: "btn btn-large btn-default", data: { :toggle => "modal", :target => "#modal-playerpicker"} %>
<br>
<br>
<%= form_for @game, url:{action: "create"}, html:{method: "post", class: "form-horizontal"} do |f| %>
    

    <%= f.hidden_field :id %>
    <%= f.fields_for :teams do |team_builder| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> 
            <strong class="<%= team_builder.object.color%>-font">Team <%= team_builder.object.color.humanize %></strong>
          </h3>
        </div>
        <div class="panel-body">
          <%= team_builder.hidden_field :color %>
          <div class="container-fluid">
            <%= team_builder.fields_for :positions do |position_builder| %>
              <div class="form-group">
                <div class="col-sm-1">
                  <label><%= position_builder.object.position_type.humanize%></label>
                </div>
                <div class="col-sm-5">
                  <%= position_builder.hidden_field :position_type %>
                  <% if team_builder.object.color == "blue" %>
                    <%= position_builder.select(:player_id, options_for_select(@blue_team_players.collect {|player| [player.firstname.humanize, player.id]}, position_builder.object.player_id), {}, {class: "form-control"}) %>
                  <% else %>
                    <%= position_builder.select(:player_id, options_for_select(@red_team_players.collect {|player| [player.firstname.humanize, player.id]}, position_builder.object.player_id), {}, {class: "form-control"}) %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>


  <%=  f.submit("Start Game!", :class => 'btn btn-primary btn-sm') %>
  <br>
  <br>
<% end %>


<!-- Team GeneratorModal -->
<div class="modal fade" id="modal-playerpicker" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-content"> 
      <%= render "setup_game_modal", selected_players: [], available_players: @players, game: nil  %>
    </div>
  </div>
</div>