<% if false %>
  <% @game.teams.positions.each do |position| %>
    position_type: <%= position.position_type %> player_id: <%= position.player_id %>
  <% end %>
<% end %>



<%= form_for @game, url:{action: "create"}, html:{method: "post"} do |f| %>
    

    <%= f.hidden_field :id %>
    <%= f.fields_for :teams do |team_builder| %>
      <div class="panel panel-default">
        <div class="panel-heading <%= team_builder.object.color%>team">
          <h3 class="panel-title"> Team <%= team_builder.object.color.humanize %></h3>
        </div>
        <div class="panel-body">
          <%= team_builder.hidden_field :color %>
          <div class="container-fluid">
            <%= team_builder.fields_for :positions do |position_builder| %>
              <div class="row">
                <%= position_builder.hidden_field :position_type %>
                <div class="col-md-1"><%= position_builder.object.position_type.humanize%>:</div> 
                <div class="col-md-1">
                  <%= position_builder.select(:player_id, options_for_select(@player.collect {|player| [player.firstname.humanize, player.id]}, position_builder.object.player_id)) %>
                </div>
                
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>


  <%=  f.submit("Start Game!", :class => 'btn btn-default btn-sm') %>
<% end %>