
<% @game.teams.each do |team| %>
  <%= team.color %><br>
<% end %>

<%= form_for @game, url:{action: "create"}, html:{method: "post"} do |f| %>
    

    <%= f.hidden_field :id %>
    <%= f.fields_for :teams do |team_two_form| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Team</h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          
        </div>
      </div>
    </div>
  <% end %>


  <%=  f.submit("Start Game!", :class => 'btn btn-default btn-sm') %>
<% end %>