<%= link_to "Setup Game", '#' , class: "btn btn-large btn-default", data: { :toggle => "modal", :target => "#modal-playerpicker"} %>
<br>
<br>
<%= form_for @game, url:{action: "create"}, html:{method: "post"} do |f| %>
    

    <%= f.hidden_field :id %>
    <%= f.fields_for :teams do |team_builder| %>
      <div class="panel panel-default">
        <div class="panel-heading <%= team_builder.object.color%>team">
          <h3 class="panel-title"> 
            Team <%= team_builder.object.color.humanize %> 
            <% if team_builder.object.color == "blue" && @blue_team_names %>
              <%= ": "+@blue_team_names %>
            <% elsif team_builder.object.color == "red" && @red_team_names %>
              <%= ": "+@red_team_names %>
            <% end %>
          </h3>
        </div>
        <div class="panel-body">
          <%= team_builder.hidden_field :color %>
          <div class="container-fluid">
            <%= team_builder.fields_for :positions do |position_builder| %>
              <div class="row">
                <%= position_builder.hidden_field :position_type %>
                <div class="col-md-1"><%= position_builder.object.position_type.humanize%>:</div> 
                <div class="col-md-1">
                  <% if team_builder.object.color == "blue" %>
                    <%= position_builder.select(:player_id, options_for_select(@blue_team_players.collect {|player| [player.firstname.humanize, player.id]}, position_builder.object.player_id)) %>
                  <% else %>
                    <%= position_builder.select(:player_id, options_for_select(@red_team_players.collect {|player| [player.firstname.humanize, player.id]}, position_builder.object.player_id)) %>
                  <% end %>
                </div>
                
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>


  <%=  f.submit("Start Game!", :class => 'btn btn-primary btn-sm') %>
  <br>
  <br>
<% end %>


<!-- Team GeneratorModal -->
<div class="modal fade" id="modal-playerpicker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(generate_teams_new_game_path, {id: "form-team-generator", data: {add_player_url: games_player_dropdown_path}}) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Select the Competitors!</h4>
        </div>

        <div class="modal-body">
            <div id="div-playerlist" class="container-fluid">
              <%= render partial: "games/player_dropdown", locals: {selected_players: @players } %>
            </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Add a Player", '#' , class: "btn btn-large btn-default", onclick: "game_generator.add_player_row()" %>
          <%= submit_tag 'Lets Go!', :name => 'submit_button', class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>