<center>
  <div class="div-foos-title">
    <h1 class="foos">Log In</h1>
    <div class="break"></div>
  </div>
</center>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5><strong>Log in</strong></h5>
  </div>
  <div class="panel-body">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Log in", class: 'btn btn-primary btn-sm' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
