<%= stylesheet_link_tag    "players", :media => "all" %>
<%= button_to "Back", players_path, :method => "get", :class => 'btn btn-default btn-sm' %>
<center>
  <div class="div-foos-title">
    <h1 class="foos">Player View</h1>
    <div class="break"></div>
  </div>
</center>
<div class="panel panel-default">
  <div class="panel-heading"><h5><strong>Player Form</strong></h5></div>
  <div class="panel-body">
    <%= form_for @player, url: player_path(@player), method: :patch do |f| %>

      <% if @player.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @player.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render :partial => 'form', :locals => { :form => f, :player => @player } %>

      <% if @player.editable? %>
        <div class="form-group">
          <%= f.submit "Update Player", class: 'btn btn-primary btn-sm'%>
        </div>
        <% if @player.current_player? %>
          <div class="form-group">
            <%= link_to "Update Password", edit_player_registration_path(@player), class: 'btn btn-default btn-sm' %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if @player.persisted? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h5><strong>Player Stats</strong></h5></div>
    <div class="panel-body panel-overflow-x">
      <ul>
        <li><b>Goals Scored:</b> <%= @player.total_goals %></li>
        <li><b>Win Percentage:</b> <%= @player.win_percentage.to_i %></li>
        <li><b>Record:</b> <%= @player.player_wins %> - <%= @player.player_losses %>
        <li><b>Goals Per Game:</b> <%= number_with_precision(@player.goals_per_game, precision: 2) %>
        <li><b>Goals Per Position:</b> <%= number_with_precision(@player.goals_per_stick, precision: 2) %>
        <li><b>Plus/Minus Rating:</b> <%= @player.plus_minus %>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h5><strong>Game Logs</strong></h5></div>
    <div class="panel-body panel-overflow-x">
      <% if @games.count > 0 then %>
        <b>Record Last <%= @games.count %> Games:</b> <%= @winner_ten %> - <%= @loser_ten %><br>
        <%= will_paginate @games, renderer: BootstrapPagination::Rails %>
        <table class="table table-hover table-condensed" style="width:auto;">
          <thead>
            <tr>
              <th>Game ID</th>
              <th>Completed At</th>
              <th>W/L</th>
              <th>Score</th>
              <th>Teammates</th>
              <th>Opposing Team</th>
              <th>Goals Scored</th>
            </tr>
          </thead>
          <tbody>
          <% @games.each do |game| %>
            <tr>
              <td><%= button_to "View Game", edit_game_path(game), :method => "get", :class => 'btn btn-default btn-sm' %></td>
              <td><%= game.completed_at %></td>
              <td>
                <%= game.badge_players_game_result(@player) %>  
              </td>
              <td>
                <%= game.team(@player).get_goals_total %> - <%= game.team(@player).opposing_team.get_goals_total %>
              </td>
              <td><%= game.team(@player).players_list %></td>
              <td><%= game.team(@player).opposing_team.players_list %></td>
              <td><%= game.goals_scored(@player) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <b>No games played yet...</b>
      <% end %>
    </div>
  </div>
<% end %>



    


