<%= stylesheet_link_tag    "players", :media => "all" %>
<%= button_to "Back", players_path, :method => "get", :class => 'btn btn-default btn-sm' %>
<center>
  <div class="div-foos-title">
    <h1 class="foos">Player View</h1>
    <div class="break"></div>
  </div>
</center>
<div class="panel panel-default">
  <div class="panel-heading"><h5><strong>Player Form</strong></h5></div>
  <div class="panel-body">
    <%= form_for :player, url: player_path(@player), method: :patch do |f| %>

      <% if @player.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@player.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @player.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :username, 'User Name' %><br>
        <%= f.text_field :username %>
      </div>

      <div class="form-group">
        <%= f.label :firstname, 'First Name' %><br>
        <%= f.text_field :firstname %>
      </div>

      <div class="form-group">
        <%= f.label :lastname, 'Last Name' %><br>
        <%= f.text_field :lastname %>
      </div>
     
     
      <div class="form-group">
        <%= f.submit "Update Player", class: 'btn btn-primary btn-sm'%>
      </div>
    <% end %>
  </div>
</div>

<% if @player.persisted? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h5><strong>Recent Games</strong></h5></div>
    <div class="panel-body panel-overflow-x">
    Record Last 10 Games: <%= @winner_ten %> - <%= @loser_ten %><br>
      <table class="table table-hover table-condensed" style="width:auto;">
        <thead>
          <tr>
            <th>Game ID</th>
            <th>Completed At</th>
            <th>W/L</th>
            <th>Players</th>
          </tr>
        </thead>
        <tbody>
        <% @last_ten_games.each do |game| %>
          <tr>
            <td><%= button_to "View Game", edit_game_path(game), :method => "get", :class => 'btn btn-default btn-sm' %></td>
            <td><%= game.completed_at %></td>

            <%= game.td_players_game_result(@player) %>
            <td><%= game.players_in_game %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>



    


